
.calculator {
    max-width: 300px;
    min-height: 250px;
    border-color: black;
    border-style:none;
    border-color: gray;
    border-radius: 3%;
    background-color: black;
    margin-top: 10px;
    margin-left: 50px;
}

.title {
    padding-top: 20px;
    width: auto;
    color: white;
    text-align: center;
}

.inputArea {
    margin: 5px 0 0 30px;

}

.grid-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  background-color: black;
  margin: 5px 0 0 30px;
}
.grid-item {
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 60px 120px 60px;
    background-color: black;
    margin: 0 0 0 30px;
  }

